.forgotPass-wrapper {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.forgotPass-container {
    min-width: 600px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #9A9D8A;
}
.forgotPass-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.forgotpass-title {
    margin-bottom: 15px;
}
.Login, .Password {
    margin-bottom: 10px;
    min-height: 54px;
    min-width: 300px;
    border-radius: 10px;
    padding-left: 15px;
}
.forgotPussBtn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9A9D8A;
    cursor: pointer;
}
.kek {
    color: red;
}