.home-wrapper {
    background-image: url('/public/images/30.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-weight: bold;
}